.quiz_selector {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;

    .submit_button {
        margin-top: 3%;
    }

    .error {
        h2 {
            color: red;
        }
    }
}



.quiz_wrapper {
    display: flex;
    justify-content: center;
}