<html>
    <div id="about">
        <h1>About the Developer</h1>
        <img src="../../assets/about_page/Professional_Photo.jpg">
        <div id="about_paragraph">
            <p>My name is Benjamin Clark and I built this app to demonstrate the simple yet powerful new way
                to develop applications with the Angular Framework. This web app is entirely on the client side with over 4,000
                questions requested when needed from this public third party API (<a src="https://opentdb.com/api_config.php">opentb</a>).
            </p>
        </div>
    </div>
</html>
